**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.db-*
**/*.log
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets
**/temp
**/tmp
**/.env
**/.terraform
**/.terraform.lock.hcl
**/.terragrunt-cache
**/TestResults
**/.trash
**/.idea
.vs/
.vscode/
obj/
bin/
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.logLifeCare.Infrastructure/Migrations/

LifeCare.Infrastructure/Migrations/
